
*.db
*.vcxproj
*.cmake
*.user
*.ipch
*.bin
*.exe
*.tlog
*.obj
*.recipe
*.log
*.rule
*.stamp
*.check_cache
*.filters
*.depend
*.pdb
*.list
*.ilk
*.sln
ffmpeg_test/build/.vs/ffmpeg_test/v16/.suo
ffmpeg_test/build/CMakeCache.txt
ffmpeg_test/build/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
ffmpeg_test/build/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
ffmpeg_test/build/CMakeFiles/3.17.5/VCTargetsPath.txt
ffmpeg_test/build/CMakeFiles/TargetDirectories.txt
